* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #001e4d;
}
.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz {
  padding: 30px 0;
}
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}
.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  padding: 10px;
  width: 100px;
  margin: 20px auto 0;
  border-radius: 4px;
  border: none;
  background: #001e4d;
  color: #fff;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}
#next-btn:hover {
  background: #153a74;
  transform: translateY(-2px);
}
#next-btn:active {
  transform: scale(0.95);
  background: #082758;
}
.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
.timer {
  margin-bottom: 20px;
  font-weight: 600;
  color: #001e4d;
  text-align: right;
}
.high-score-container {
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}