* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(#00b4db, #0083b0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#weather-card {
  width: 90%;
  max-width: 450px;
  padding: 30px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

#input-container #city-input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

#input-container #city-input:focus {
  box-shadow: 0 4px 30px 0 rgba(31, 38, 135, 0.37);
}

#search-btn {
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
}

#search-btn:hover {
  transform: scale(1.05);
  background-color: rgba(31, 38, 135, 0.37);
}

#search-btn:active {
  transform: scale(0.95);
}

#hero-section {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

#temp-value {
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0;
}

#additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1rem;
}

#hourly-forecast {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  scrollbar-width: none;
}

#hourly-forecast::-webkit-scrollbar {
  display: none;
}

.hour-block {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2); 
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 80px;
}

.hour-block:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.hour-time {
  font-size: 0.8rem;
  opacity: 0.8;
}

.hour-temp {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}