@font-face {
  font-family: 'Playfair';
  src: url(fonts/Playfair_144pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair', serif;
}

body {
  background: #bbc6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quote-box {
  background: #fff;
  width: 700px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.quote-box h2{
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}
.quote-box h2::after {
  content: '';
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  translate: -50% 0;
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::before, .quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: '';
  width: 15px;
  height: 2px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -20px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.quote-box button img {
  width: 20px;
  margin-right: 10px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
}
.quote-box button:nth-child(2):hover {
  transform: scale(0.95);
}
.quote-box button:nth-child(2):active {
  transform: translateY(-2px);
}
#new-quote-btn:hover {
  background: rgb(8, 92, 183);
  transform: translateY(-2px);
}
#new-quote-btn:active {
  background: rgb(15, 100, 200);
  transform: scale(0.95);
}