* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(135deg, #0a7b61, #137ae1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 400px;
  padding: 25px 35px;
  background: #fff;
  border-radius: 10px;
}
.container input {
  width: 100%;
  height: 40px;
  border: 1px solid #494eea;
  outline: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 20px;
}
.container input:focus {
  box-shadow: 0px 0px 4px #494eea;
}
.container button {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: #fff;
  background: #494eea;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 2px 0;
  font-weight: 500;
  transition: 0.3s ease;
}
.container button:hover {
  transform: translateY(-2px);
  background: #3439c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container button:active {
  transform: scale(0.95);
  background: #5559c1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#img-box {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
#img-box img {
  width: 100%;
  padding: 10px;
}
#img-box .show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
.error {
  animation: shake 0.2s linear 10;
  box-shadow: 0 0 4px red;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}